{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Storage Room</title>
        {% block head %} 
        {% endblock %}
    </head>
    <body>
        <header>
            <div>
                <h1><a href="{% url 'home' %}">Storage Room Home</a></h1>
            </div>
            <nav>
                <ul>
                    <li>Store Room</li>
                    <li>New Box</li>
                    <li>New Label</li>
                    <li><a href="{% url 'about' %}">About</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {% block content %} 
            {% endblock %}
        </main>
    </body>
</html>